<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rage Against the Page</title>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
    <h1>Rage Against the Page Database</h1>
    <nav class="navwrapper">
        <a class="navitem" href="/">About</a>
        <a class="navitem" href="/books">Books</a>
        <a class="navitem" href="/authors">Authors</a>
        <a class="navitem" href="/publishers">Publishers</a>
        <a class="navitem" href="/genres">Genres</a>
        <a class="navitem" href="/employees">Employees</a>
        <a class="navitem" href="/sales">Sales</a>
        <a class="navitem" href="/books-sales">Books Sales</a>
    </nav>

    {{{body}}}

    <footer>©2022 Jonathan Louangrath & Samantha Jones</footer>
</body>
</html>